.menu-system::-webkit-scrollbar { width: 0 !important }
.menu-system{
    scrollbar-color: transparent transparent;
}
.menu-up{
    background-image: linear-gradient(rgba(25, 25, 50, 0.6), var(--background, #000000));
}
.menu-down{
    background-image: linear-gradient(var(--background, #000000), rgba(25, 25, 50, 0.6));
}
input:disabled{
    background: lightgray;
}

.td_permission{
    cursor: pointer;
    padding-top:25px !important;
}
.animationload {
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        background: #85d6de none repeat scroll 0 0;
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mensaje-error-sistema{

    background-color:rgba(180, 000, 000, 0.9);
    padding-top: 6px;
    padding-bottom: 6px;
}

.mensaje-bien-sistema{

    background-color:rgba(39, 91, 233, 0.952);
    padding-top:6px;
    padding-bottom:6px;
}
.calibri{
    padding-left: 20px
}


.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    color: white !important;
}


