.menu-system::-webkit-scrollbar { width: 0 !important }
.menu-system{
    scrollbar-color: transparent transparent;
}
.menu-up{
    background-image: linear-gradient(rgba(25, 25, 50, 0.6), #000532);
}
.menu-down{
    background-image: linear-gradient(#000532, rgba(25, 25, 50, 0.6));
}

.td_permission{
    cursor: pointer;
    padding-top:25px !important;
}
